@model McBonaldsMVC.ViewModels.PedidoViewModel
<main>
        <h2>Pede aí, @Model.NomeUsuario!</h2>
        <form method="POST" action='@Url.Action("Registrar","Pedido")'>
            <div>
                <label for="nome">Nome Completo</label>
                <br />
                <input id="nome" type="text" maxlength="20" minlength="3" value="@Model.Cliente.Nome" name="nome"/>
            </div>

            <div>
                <label for="endereco">Endereço</label>
                <br />
                <input id="endereco" type="text" maxlength="20" minlength="3" value="@Model.Cliente.Endereco" name="endereco"/>
            </div>

            <div>
                <label for="telefone">Telefone para contato</label>
                <br />
                <input id="telefone" type="text" placeholder="11 12345 6789" value="@Model.Cliente.Telefone" name="telefone"/>
            </div>

            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" name="email" value="@Model.Cliente.Email"/>
            </div>

            <div class="double-field">
                <div>
                    <label for="hamburguer">Hamburguer</label>
                    <select id="hamburguer" name="hamburguer" required>
                        <option value="" disabled selected>Selecione</option>
                        @foreach (var hamburguer in Model.Hamburgueres)
                        {
                            <option value=@hamburguer.Nome>@hamburguer.Nome por @hamburguer.Preco
                                
                            </option>
                        }
                    </select>
                </div>
                <div>
                    <label for="shake">Shake</label>
                    <select id="shake" name="shake">
                        <option value="" disabled selected>Selecione</option>
                        @foreach (var s in Model.Shakes)
                        {
                            <option value=@s.Nome>@s.Nome por @s.Preco</option>
                        }
                    </select>
                </div>
            </div>
            <input type="submit" value="Finalizar pedido!" />
        </form>

    </main>